<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="static/Covid-19.png">

    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>CoronaVirus Detector</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk01XFmM69rI4JUIkoT2SV4GJsSXBRQ%3A1584780590665&ei=LtV1XouhKJewrQHixKeIBA&q=COVID-19&oq=COVID-19&gs_l=psy-ab.12..35i39j0j0i131j0i3j0i131j0l3j0i131j0.6389.14332..19380...2.0..1.311.1390.2-4j1......0....1..gws-wiz.......0i131i67j0i7i30j0i131i20i263.WNlPbaybgXg&ved=0ahUKEwiL8Jzhl6voAhUXWCsKHWLiCUEQ4dUDCAs">COVID-19 Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          
             
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk0329oLwA1UikubiFyJSlw1k5j1eeA%3A1584778046936&ei=Pst1XozoOIWm9QOd8a2wBg&q=What+Is+Covid-19&oq=What+Is+Covid-19&gs_l=psy-ab.3..0.79821.90513..90938...1.0..0.821.4570.0j3j13j1j6-1......0....1..gws-wiz.......35i39j0i30j0i131j0i131i67j0i273j0i67j0i20i263j0i131i20i263j0i10j0i3j0i10i3.hCCxFNVYf_0&ved=0ahUKEwiM_6OkjqvoAhUFU30KHZ14C2YQ4dUDCAs&uact=5" >What Is COVID-19</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk03ymLkrMdEcmTcqzPGaCNc5d-gD0g%3A1584758726743&ei=xn91XvCILbnE4-EPxouukA8&q=More+About+COVID-19&oq=More+About+COVID-19&gs_l=psy-ab.12..35i39.580120.583798..586840...0.0..1.304.1158.0j4j1j1......0....1..gws-wiz.......35i304i39.qYewybICFXk&ved=0ahUKEwjwg9mnxqroAhU54jgGHcaFC_IQ4dUDCAs#wptab=s:H4sIAAAAAAAAAONgVuLVT9c3NMwySk6OL8zJecTozS3w8sc9YSmnSWtOXmO04eIKzsgvd80rySypFNLjYoOyVLgEpVB1ajBI8XOhCvHsYhLwSE3MKckIKEotSwXqzM9bxKrsnF-Un5dYlllUWqyQklmcmlicqmBkYGipUABXBQBOZiTXmAAAAA" >More About COVID-19</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.google.com/search?q=Prevention+From+COVID-19&oq=Prevention+From+COVID-19&aqs=chrome..69i57.862j0j7&sourceid=chrome&ie=UTF-8" >Prevention From COVID-19</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk00X6H9a5WfDFUKhmpSTZq2oGmjSoQ%3A1584777995820&ei=C8t1Xq7YMcT1rQH0_5awCQ&q=Symptoms+of+COVID-19&oq=Symptoms+of+COVID-19&gs_l=psy-ab.12..0.36439.36439..42014...0.0..0.263.523.2-2......0....2j1..gws-wiz.......35i304i39.q29sIF-MLNw&ved=0ahUKEwjuifSLjqvoAhXEeisKHfS_BZYQ4dUDCAs" >Symptoms of COVID-19</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk03sobyXwJPvkIRnWne5NRSL5v9z5g%3A1584778139549&ei=m8t1XtyjIcWvyAP95qHIAg&q=Treatment+of+COVID-19&oq=Treatment+of+COVID-19&gs_l=psy-ab.3...75612.75612..77013...0.0..0.292.562.2-2......0....2j1..gws-wiz.......35i39j0i30.VTaGtbswDn4&ved=0ahUKEwic3bjQjqvoAhXFF3IKHX1zCCkQ4dUDCAs&uact=5" >Treatment of COVID-19</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://google.com/covid19-map/?hl=en" >Map Of Infected Person With COVID-19 By Google</a>

             
                  
              </div>
            </li>
           
              
            </li>
          </ul>
          <form action = "https://www.google.com/search" method = "GET">
            <input class="form-control mr-sm-2"name = "q"  type = "Text" placeholder = "Search About (COVID)" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <script>
            alert("Welcome To COVID-19 Probability Detector");
            var person = prompt("Please Enter Your Name");
           


            



          </script>
        </div>
      </nav>
      <div class = "Head">
        <h1 class = "text-center mt-3">CoronaVirus Probability Detector (COVID-19)</h1>

    

    

      </div>
    

     
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <hr>
    <script>
      document.write("<h4>")
      document.write("Welcome " + person)
      document.write("</h4>")




    </script>
    <form action = "/" method = "POST">
      <br>
      <style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
</head>
<body>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>CoronaVirus(COVID-19)</strong>  Red Alert!
</div>
      <div class="form-group">
        <label for="fever">Enter Fever Value</label>
         <select class="form-control" name = "fever" id="fever">
           <option>Enter Fever Value</option>
           <option value = "98">98&#xb0;c</option>
           <option value = "99">99&#xb0;c</option>
           <option value = "100">100&#xb0;c</option>
           <option value = "101">101&#xb0;c</option>
           <option value = "102">102&#xb0;c</option>
           <option value = "103">103&#xb0;c</option>
           <option value = "104">104&#xb0;c</option>
        </select>
      </div>

      <div class="form-group">
        <label for="age">Enter Your Age</label>
        <input type="text" class="form-control" name = 'age' id="age" placeholder="Enter Your Age">
      </div>

      <div class="form-group">
        <label for="pain">Body Pain</label>
        <select class="form-control" name = "pain" id="pain">
          <option>Enter Pain</option>
          <option value = "0">No Body Pain</option>
          <option value = "1">Severe Body Pain</option>
        </select>
      </div>

      <div class="form-group">
        <label for="runnyNose">Runny Nose</label>
        <select class="form-control" name = "runnyNose" id="runnyNose">
          <option>Enter Runny Nose</option>
          <option value = "1">Yes</option>
          <option value = "0">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="diffBreath">Breathing Difficulty</label>
        <select class="form-control" name = "diffBreath" id="diffBreath">
          <option>Enter Breathing Difficulty</option>
          <option value = "-1">No Breathing Difficulty</option>
          <option value = "0">Little Breathing Difficulty</option>
          <option value = "1">Severe Breathing Difficulty</option>
        </select>
      </div>

      <div class="form-group">
        <label for="th">Travel History</label>
        <select class="form-control" name = "th" id="th">
          <option>Travel History</option>
          <option value = "1">Yes</option>
          <option value = "0">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="animl">Do You Have Any Animal Like Bat/Lizard Near You Or In Home Or In Office</label>
        <select class="form-control" name = "animl" id="animl">
          <option>Do You Have Any Animal Like Bat/Lizard Near You Or In Home Or In Office</option>
          <option value = "1">Yes</option>
          <option value = "0">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="maf">Do You Meet Any Friend Or A Infected Person</label>
        <select class="form-control" name = "maf" id="maf">
          <option>Do You Meet Any Friend Or A Infected Person</option>
          <option value = "1">Yes</option>
          <option value = "0">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="sneez">Do You Have Any Sneezing History</label>
        <select class="form-control" name = "sneez" id="sneez">
          <option>Do You Have Any Sneezing History</option>
          <option value = "1">Yes</option>
          <option value = "0">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cough">Do You Have Any Cough History</label>
        <select class="form-control" name = "cough" id="cough">
          <option>Do You Have Any Dry Cough History</option>
          <option value = "1">Yes</option>
          <option value = "0">No</option>
        </select>
      </div>

       <div class="form-group">
        <label for="go">Do You Outside Of The Home</label>
        <select class="form-control" name = "go" id="go">
          <option>Do You Outside Of The Home</option>
          <option value = "1">Yes</option>
          <option value = "0">No</option>
        </select>
      </div>


      </div>

      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  <hr>

  </body>
</html>

