<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>CoronaVirus Detector</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk01XFmM69rI4JUIkoT2SV4GJsSXBRQ%3A1584780590665&ei=LtV1XouhKJewrQHixKeIBA&q=COVID-19&oq=COVID-19&gs_l=psy-ab.12..35i39j0j0i131j0i3j0i131j0l3j0i131j0.6389.14332..19380...2.0..1.311.1390.2-4j1......0....1..gws-wiz.......0i131i67j0i7i30j0i131i20i263.WNlPbaybgXg&ved=0ahUKEwiL8Jzhl6voAhUXWCsKHWLiCUEQ4dUDCAs">COVID-19 Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
        
             
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk03ymLkrMdEcmTcqzPGaCNc5d-gD0g%3A1584758726743&ei=xn91XvCILbnE4-EPxouukA8&q=More+About+COVID-19&oq=More+About+COVID-19&gs_l=psy-ab.12..35i39.580120.583798..586840...0.0..1.304.1158.0j4j1j1......0....1..gws-wiz.......35i304i39.qYewybICFXk&ved=0ahUKEwjwg9mnxqroAhU54jgGHcaFC_IQ4dUDCAs#wptab=s:H4sIAAAAAAAAAONgVuLVT9c3NMwySk6OL8zJecTozS3w8sc9YSmnSWtOXmO04eIKzsgvd80rySypFNLjYoOyVLgEpVB1ajBI8XOhCvHsYhLwSE3MKckIKEotSwXqzM9bxKrsnF-Un5dYlllUWqyQklmcmlicqmBkYGipUABXBQBOZiTXmAAAAA" >More About COVID-19</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.google.com/search?q=Prevention+From+COVID-19&oq=Prevention+From+COVID-19&aqs=chrome..69i57.862j0j7&sourceid=chrome&ie=UTF-8" >Prevention From COVID-19</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk00X6H9a5WfDFUKhmpSTZq2oGmjSoQ%3A1584777995820&ei=C8t1Xq7YMcT1rQH0_5awCQ&q=Symptoms+of+COVID-19&oq=Symptoms+of+COVID-19&gs_l=psy-ab.12..0.36439.36439..42014...0.0..0.263.523.2-2......0....2j1..gws-wiz.......35i304i39.q29sIF-MLNw&ved=0ahUKEwjuifSLjqvoAhXEeisKHfS_BZYQ4dUDCAs" >Symptoms of COVID-19</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk03sobyXwJPvkIRnWne5NRSL5v9z5g%3A1584778139549&ei=m8t1XtyjIcWvyAP95qHIAg&q=Treatment+of+COVID-19&oq=Treatment+of+COVID-19&gs_l=psy-ab.3...75612.75612..77013...0.0..0.292.562.2-2......0....2j1..gws-wiz.......35i39j0i30.VTaGtbswDn4&ved=0ahUKEwic3bjQjqvoAhXFF3IKHX1zCCkQ4dUDCAs&uact=5" >Treatment of COVID-19</a>

             
                  
              </div>
            </li>
           
              
            </li>
          </ul>
          <form action = "https://www.google.com/search" method = "GET">
            <input class="form-control mr-sm-2"name = "q"  type = "Text" placeholder = "Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <script>
            alert("Welcome To COVID-19 Probability Detector Result Page");
            var person = prompt("Please Enter Patient's Name");
           


            



          </script>
        </div>
      </nav>
      <div class = "Head">
        <h1 class = "text-center mt-3">CoronaVirus Patient's Result</h1>

    

    

      </div>
    

     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <hr>

    <div class="container">
        <script>
            document.write("<p>" + person +"'s"+ " Probability Of CoronaVirus(COVID-19) Is  "+ "{{inf}}%" + "</p>")

        </script>

        <hr>



        <a href = "/">
        <button class="btn btn-outline-success my-2 my-sm-0">Go Back To HomePage</button>
        </a>
      


    </div>

    


    
  </body>
</html>